@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header {
  background-color: rgb(95, 158, 160);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container__text {
  @include fonts(18px, 21px, 400, 0);
  color: #ffffff;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency-list__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.currency-list__item-text {
  @include fonts(15px, 21px, 400, 0, Roboto);
  align-items: baseline;
  margin-left: 7px;
}
